<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<title>Company data</title>
</head>

<body>
	<p><b>Company data</b></p>

	<form id="add_company_form" method="POST">
		Name: <input id="company_name" type="text" name="company_name"><br/>
		Street: <input id="company_street" type="text" name="company_street"><br/>
		House number: <input id="company_house_number" type="number" name="company_house_number"><br/>
		Post code: <input id="company_post_code" type="text" name="company_post_code"><br/>
		City: <input id="company_city" type="text" name="company_city"><br/>
		Country: <input id="company_country" type="text" name="company_country"><br/>
		Phone number: <input id="company_phone_number" type="text" name="company_phone_number"><br/>
		Email: <input id="company_email" type="email" name="company_email"><br/>
		<br/>
		<input type="submit" value="Next"><br/>

		<p id="message"></p>
	</form>

	<script>
	$("#add_company_form").on("submit", function(event) {
		event.preventDefault();

		var name = $("#company_name").val();
		var street = $("#company_street").val();
		var houseNumber = $("#company_house_number").val();
		var postCode = $("#company_post_code").val();
		var city = $("#company_city").val();
		var country = $("#company_country").val();
		var phoneNumber = $("#company_phone_number").val();
		var email = $("#company_email").val();

		var xhr = new XMLHttpRequest();
		
		xhr.open("POST", "/company", true);
		xhr.setRequestHeader("Content-Type", "application/json");

		xhr.onreadystatechange = function() {
			if (xhr.readyState === 4) {
				if (xhr.status === 200) {
					window.location.href = "add_department.html";
				} else {
					$("#message").html(xhr.responseText);
				}
			}
		}
		
		var data = JSON.stringify({"name": name, "street": street, "houseNumber": houseNumber, "postCode": postCode, "city": city, "country": country, "phoneNumber": phoneNumber, "email": email });
		xhr.send(data);
	});
	</script>
</body>