<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<title>Add user</title>
</head>

<body>
	<p><b>Add a User</b></p>

	<form id="add_user_form" method="POST">
		Email: <input id="user_email" type="email" name="user_email"><br/>
		Password: <input id="user_password" type="password" name="user_password"><br/>
		First name: <input id="user_first_name" type="text" name="user_first_name"><br/>
		Middle initial: <input id="user_middle_initial" type="text" name="user_middle_initial"><br/>
		Last name: <input id="user_last_name" type="text" name="user_last_name"><br/>
		Function: <input id="user_function" type="text" name="user_function"><br/>
		Phone number (work): <input id="user_phone_number_work" type="number" name="user_phone_number_work"><br/>
		Phone number (private): <input id="user_phone_number_private" type="number" name="user_phone_number_private"><br/>
		Date of birth: <input id="user_date_of_birth" type="date" name="user_date_of_birth"><br/>
		Country: <input id="user_country" type="text" name="user_country"><br/>
		Address: <input id="user_address" type="text" name="user_address"><br/>
		Post code: <input id="user_post_code" type="text" name="user_post_code"><br/>

		Account type:<br/>
		<input id="user_account_type_administrator" type="radio" name="user_account_type" value="Administrator">Administrator<br/>
		<input id="user_account_type_manager" type="radio" name="user_account_type" value="Manager">Manager<br/>
		<input id="user_account_type_department_member" type="radio" name="user_account_type" value="DeptMember">Department member<br/>
		<input id="user_account_type_user" type="radio" name="user_account_type"  value="User" checked>User<br/>

		Department:<br/>
		<div id="departments_dropdown">
			<select>
			</select>
		</div>

		<br/>
		<input type="submit" value="Next"><br/>

		<p id="message"></p>
	</form>

	<script>
	$(window).load(function(event) {
		var xhr = new XMLHttpRequest();
		var url = "/department?name=all";
		xhr.open("GET", url, true);

		xhr.setRequestHeader("Content-Type", "application/json");

		xhr.onreadystatechange = function() {
			if (xhr.readyState === 4 && xhr.status === 200) {
				var departments = JSON.parse(xhr.responseText);

				for (var i = 0; i < departments.length; i++) {
					$("#departments_dropdown select").append("<option value=" + i + ">" + departments[i].Name + "</option>");
				}
			}
		}

		xhr.send();
	});

	$("#add_user_form").on("submit", function(event) {
		event.preventDefault();

		var email = $("#user_email").val();
		var password = $("#user_password").val();
		var firstName = $("#user_first_name").val();
		var middleInitial = $("#user_middle_initial").val();
		var lastName = $("#user_last_name").val();
		var function_ = $("#user_function").val();
		var phoneNumberWork = $("#user_phone_number_work").val();
		var phoneNumberPrivate = $("#user_phone_number_private").val();
		var dateOfBirth = $("#user_date_of_birth").val();
		var country = $("#user_country").val();
		var address = $("#user_address").val();
		var postCode = $("#user_post_code").val();
		var accountType = $("input[name=user_account_type]:checked").val();
		var department = $("#departments_dropdown option:selected").text();

		var xhr = new XMLHttpRequest();
		
		xhr.open("POST", "/account", true);
		xhr.setRequestHeader("Content-Type", "application/json");

		xhr.onreadystatechange = function() {
			if (xhr.readyState === 4) {
				if (xhr.status === 200) {
					window.location.href = "admin_wizard_finished.html";
				} else {
					$("#message").html(xhr.responseText);
				}
			}
		}
		
		var data = JSON.stringify({"Email": email, "Password": password, "AccountType": accountType, "MemberOf": department });
		xhr.send(data);
	});
	</script>
</body>