<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<title>View Departments</title>
</head>

<body>
	<p>View Departments</p>

	<form id="view_department_form" method="GET">
		Department name: <input id="department_name" type="text" name="department_name"><br/>
		<br/>
		New department name: <input id="new_department_name" type="text" name="new_department_name"><br/>
		New department description: <input id="new_department_description" type="text" name="new_department_description"><br/>
		<br/>
		<input type="submit" value="Edit"><br/>

		<p id="result"></p>
	</form>

	<script>
	$("#view_department_form").on("submit", function(event) {
		event.preventDefault();
		
		var name = $("#department_name").val();
		var newName = $("#new_department_name").val();
		var newDescription = $("#new_department_description").val();

		var xhr = new XMLHttpRequest();
		
		xhr.open("PATCH", "/department", true);
		xhr.setRequestHeader("Content-Type", "application/json");

		xhr.onreadystatechange = function() {
			if (xhr.readyState === 4) {
				$("#result").html(xhr.responseText);
			}
		}

		var data = JSON.stringify({"name": name, "newName": newName, "newDescription": newDescription});
		xhr.send(data);
	});
	</script>
</body>