<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<title>View Departments</title>
</head>

<body>
	<p>View Departments</p>

	<form id="view_department_form" method="GET">
		Department name: <input id="department_name" type="text" name="department_name"></br>
		</br>
		<input type="submit" value="View"></br>

		<p id="result"></p>
	</form>

	<script>
	$("#view_department_form").on("submit", function(event) {
		event.preventDefault();
		
		var name = $("#department_name").val();

		var xhr = new XMLHttpRequest();
		
		xhr.open("GET", "/department?name=" + name, true);
		xhr.setRequestHeader("Content-Type", "application/json");

		xhr.onreadystatechange = function() {
			if (xhr.readyState === 4) {
				$("#result").html(xhr.responseText);
			}
		}

		xhr.send();
	});
	</script>
</body>