<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<title>Admin wizard</title>
</head>

<body>
	<p><b>Admin wizard</b></p>

	<p>The admin wizard will walk you through the most import things in the application.</p>

	<form action="/admin_wizard/add_company.html">
		<input type="submit" value="Begin" />
	</form>
	
	<p><b>Departments</b></p>
	<a href="/department/add_department.html">Add department</a><br/>
	<a href="/department/view_department.html">View department</a><br/>
	<a href="/department/edit_department.html">Edit department</a><br/>
	<a href="/department/delete_department.html">Delete department</a>
	
	<p><b>Companies</b></p>
	<a href="/company/view_company.html">View company</a><br/>
	<a href="/company/edit_company.html">Edit company</a><br/>
	<a href="/company/delete_company.html">Delete company</a>

	<br/>

	<p><b>Dashboard</b></p>
	<a href="/index.html">To dashboard</a><br/>
</body>