<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<title>Admin wizard</title>
</head>

<body>
	<p><b>Admin wizard</b></p>

	<p>The admin wizard will walk you through the most import things in the application.</p>

	<form action="/admin_wizard/add_company.html">
		<input type="submit" value="Begin" />
	</form>

	<p><b>Dashboard</b></p>
	<a href="/home.html">To home</a><br/>
</body>