.full_note {
    position: relative;
}

.full_note p {
    overflow-wrap: break-word;
}

.note_border {
    border: 2px outset lightgrey;
    padding: 0.5rem;
}

.note_delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.note_edit {
    position: absolute;
    top: 0.8rem;
    right: 2rem;
}