.App {
  display: inline-block;
  width: 100%;
  height: 100vh;
}

.Nav-Bar {
  position: fixed;
  overflow-x: hidden;
  padding: 0 !important;
}

.Align-Bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.App-link {
  display: block;
  font-size: 1vw;
  font-weight: 600;
  color: #636363 !important;
  text-transform: uppercase;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #0e1111;
  transition: background 100ms ease-in-out;
}

a:hover.App-link {
  background-color: #d8d8d8;
  color: #0e1111 !important;
  text-decoration: none;
}

.App-link.logout {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20vw;
  width: 20%;
  border-width: 1px 0px 0px 0px;
}

.App-link h1 {
  font-size: 2vw; 
}

.header {
  background-color: #FFF !important;
  color: #0e1111 !important;
}

.selected {
  background-color: #cecece;
}

.logo {
  margin: 5px;
}

.main-window {
  padding: 20px 40px !important;
}

table, th, td {
  border: 1px solid #0e1111;
}

th, td {
  padding: 10px;
}

.nav-icon {
  font-size: 1em;
  display: inline;
  padding: 0 5px 0 5px;
}

.navvv {
  background-color: purple;
}

.logout-button {
  background: #3d85c6;
  background: linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  padding: 20px 40px;
  color: #ffffff;
  display: block;
  font: normal bold 24px/1 "Calibri", sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

@media only screen and (min-width: 768px) {
  .navvv {
    width: 20vw;
    height: 100vh;
  }
  .navvv .App-link {
    padding: 1.4rem 1rem;
  }
}

/* Login */

.login-form {
  display: inline-block;
  width: auto;
}

.login-form input, button {
  width: 350px;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

/* Admin nav */

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0px 0px 0px 10px;
}

.nav li {
  width: auto;
  background-color: #d7ebff;
  border: solid rgb(50, 50, 161);
  border-width: 1px 1px 0px 1px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 0px 20px;
  float: left;
}

.nav li:hover {
  background-color: #fff;
}

.nav a {
  text-decoration: none;
  color: #000;
  display: block;
  transition: .3s background-color;
}
 
.nav li.active {
  background-color: #fff;
  cursor: default;
}

/* New */

.dash-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
}

.nav-container {
  grid-column: 1;
  grid-row: 1;
}

.content-container {
  grid-column: 2;
  grid-row: 1;

}