.App {
  display: inline-block;
  width: 100%;
  height: 100vh;
}
.Nav-Bar{
  height: 100%;
  width: 200px;
  position: fixed;

  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c2c2c2;
  overflow-x: hidden;
  padding-top: 20px;
}
.Align-Bottom{
  position: absolute;
  bottom: 20px;
  left: 0;
}
.App-link {
  display: block;
  padding: 6px 8px 6px 4px;
  color: black;
  border: 3px solid black;
  margin: 5px;
}
.logo{
  margin: 5px;
}
.main-window{
  margin: 5px 5px 5px 205px;
  padding: 10px;
  height: 95.5%;
  border: 4px solid black;
}
table, th, td {
    border: 1px solid black;
}
th, td{
  padding: 10px;
}