<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<title>Add Note</title>
</head>

<body>
	<p><b>Add a Note</b></p>

	<form id="add_note_form" method="POST">
		Note title: <input id="note_title" type="text" name="note_title"><br/>
		Note text: <input id="note_text" type="text" name="note_text"><br/>
		<br/>
		<input type="submit" value="Add"><br/>

		<p id="message"></p>
	</form>
	
	<script>
	$("#add_note_form").on("submit", function(event) {
		event.preventDefault();

		var title = $("#note_title").val();
		var text = $("#note_text").val();

		var xhr = new XMLHttpRequest();
		
		xhr.open("POST", "/note", true);
		xhr.setRequestHeader("Content-Type", "application/json");

		xhr.onreadystatechange = function() {
			if (xhr.readyState === 4) {
				if (xhr.status === 200) {
					$("#message").html(xhr.responseText);
				}
			}
		}
		
		var data = JSON.stringify({"title": title, "text": text});
		xhr.send(data);
	});
	</script>
</body>