<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<title>Delete Note</title>
</head>

<body>
	<p>Delete a Note</p>

	<form id="delete_note_form" method="DELETE">
		Note title: <input id="note_title" type="text" name="note_title"><br/>
		<br/>
		<input type="submit" value="Delete"><br/>

		<p id="result"></p>
	</form>

	<script>
	$("#delete_note_form").on("submit", function(event) {
		event.preventDefault();

		var title = $("#note_title").val();

		var xhr = new XMLHttpRequest();
		
		xhr.open("DELETE", "/note", true);
		xhr.setRequestHeader("Content-Type", "application/json");

		xhr.onreadystatechange = function() {
			if (xhr.readyState === 4) {
				$("#result").html(xhr.responseText);
			}
		}
		
		var data = JSON.stringify({"title": title});
		xhr.send(data);
	});
	</script>
</body>